@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome La Brehandaise Administrator</h1>

    <img src="~/pictures/lb.jpg" />

    <br />
    <a class="btn btn-info" asp-action="Products"> Products </a>

</div>
